
header {
    text-transform: uppercase;
    color: white;
}


body {
    
    display: flex;
    width: 1440px;
    padding: 30px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background: #090D1F;

}

.top {

    background-color: #EB5406;
}

footer {

    color: green;
}



