
header {
    text-transform: uppercase;
}

body {
    color: black;
    background-color: #FAF9F6;
}

.top {

    background-color: #EB5406;
}

footer {

    color: green;
}

em {

    background-color: blue;
}

.the_most_important {

    text-transform: uppercase;
    background-color: gold;
}

.loading {
    position: absolute;
    top: 30px;
    height: 100px;
    display:flex;
}

.loading div {

    width: 28px;
    height: 48px;
    background-color: lightblue;
    display: inline-block;
    margin:auto 4px;
    animation: loadingAnimation ;


}

